# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
ENV/

# Packaging
build/
dist/
.eggs/
*.egg-info/

# Logs
*.log

# Coverage / testing
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel/
